.users-list {
  position: absolute;
  top: 60px;
  margin-left: 15px;
}

.users-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.users-list__item:last-child {
  margin-bottom: 0;
}

.users-list__photo {
  margin-right: 10px;
  height: 46px;
  width: 46px;
}

.users-list__name {
  color: #5387C1;
  font-weight: 500;
}

.users-list__last-message {
  color: #7F91A4;
  font-weight: 300;
}